# Backend (Rust)
/backend/target/
/backend/debug/
/backend/oldies
/backend/**/*.rs.bk
*.pdb

# Frontend (Vue.js)
/frontend/node_modules
/frontend/dist
/frontend/.env
/frontend/.env.*
/frontend/.vscode/
frontend/package-lock.json
!/frontend/.env.example

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System Files
.DS_Store
Thumbs.db

# Backup and uploads
!backend/uploads/
backend/uploads/*.mscz
backend/uploads/*.mscx

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local env files
.env
.env.*
!.env.example

# Oldies
frontend/src/assets/styles_oldies
frontend/src/scripts_oldies