# Database Configuration
POSTGRESQL_ADDON_URI=postgres://postgres:postgres@localhost:5432/handflow

# Server Configuration
PORT=8080
LOG_LEVEL=info

# CORS Configuration frontend
CORS_ORIGIN=http://localhost:5173

# Upload Configuration
UPLOAD_LIMIT=10485760  # 10MB in bytes
